/**기본 설정*/
.content{padding-top:50px;}

/** 페이지네이션 */
.pagination { text-align: center; padding: 15px 0; }
.pagination  a { display: inline-block; padding: 5px 10px; border: 1px solid #212121; border-radius: 5px; }
.pagination  a.on {background-color: #f6f2c3;
    color: #212121;
    border-radius: 50%;
    border: 1.2px solid #212121;}

.content {
	width: 1100px;
	margin: 0 auto;
}

.list_title {
	width: 100%;
}
.list_title .list_wrap {
	display: flex;
	width: 100%;
	padding: 0;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}
.list_title .list_wrap .list_sub {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.list_title .list_wrap .list_sub.fix {
	background-color: #d9f6c373;
}
.list_title .list_wrap .list_sub:first-child {
	border-top: 1px solid black;
}
.list_title .list_wrap .list_sub div {
	border-bottom: 1.5px solid black;
	width: 100%;
	text-align: center;
	height: auto;
}

.abtn {
	border: 1.5px solid #76b543;
    float: right;
    margin: 10px;
    height: 25px;
    width: 60px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
}