@charset "UTF-8";

html, body {
	overflow: hidden;
	height: 100%;
}

.userinfo>span {
	font-size: 170px;
}

.productInfo {
	display: flex;
	flex-direction: column;
}

.outerbox, .productInfo {
	height: 450px;
	padding: 0px;
	margin: 0px;
	
}
.outerbox{
	margin-right: 10px;
}
.outerbox .box{
	margin: 20px;
	margin-right: 0px;
}


.outerbox > .box:first-child{

	margin-top:0px;

	height: 290px;

}
.outerbox > .box:last-child{

	height: 141px;

}

.productInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}


.productInfo>div>span {
	display: inline-block;
	background-color: #d8d8d8;
	padding: 30px;
	border-radius: 5px;
}

.productInfo  div>span:first-of-type {
	width: 200px;
}

.productInfo  div>span:last-child {
	text-align: center;
	width: 100px;
}