@charset "utf-8";
ul {
	display: flex;
	width: 50%;
	text-align: center;
}
ul > .box{
	border-radius: 30px;
	padding:10px;
	margin-bottom:0px;
	display: flex;
	width: 280px;
}

li > span >span{
	margin-left:10px;
	color: red;
}

.outerbox >div:last-child {
	
	width: 800px;
	height: 500px;
	border-radius: 20px;

}
.outerbox nav{
	width:100%;

	background-color: rgba(0,0,0,0);
	
}

.outerbox nav ul{
	display: flex;

}


.outerbox nav ul >li >select{
	border: none;
}
