@charset "EUC-KR";


.box{
	height:700px;
	width:1500px;
	overflow: scroll;
	
}
.box::-webkit-scrollbar{
	display:none;
}
table{
	border:10px solid #efefef;
	font-size: 15px;
}
table thead{
	font-size: 20px;
	background-color: #d3e4e4;
}

td{
			padding:20px;
	
}

thead td {
	
		border-bottom: 1px solid black;
}
tbody tr:nth-child(odd) {
	
}

tbody tr:nth-child(even) {
			background-color: #dbdbdb;
	

}

.pagination{
	
	display:flex;
	flex-direction:row;
	
}

.pagination >div{
	display:flex;
	justify-content:center;
	align-items:center;
	width: 25px;
	height: 25px;
	border-radius:5px;
	background-color: white;
	margin: 5px;
}
.pagination .nowPage{
	background-color: #d3d3d3;
}


.layout{
	flex-direction: column !important;
}