.item{
	display: flex;
	align-items: center;
	border: 1px solid black;
}

.item_image{
	display: flex;
	margin: 250px 50px 350px 250px; 
}

.item_info {
	margin-left: 300px;
}
.book_name{
	border-bottom: 1px solid black;
}
