@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* { box-sizing: border-box; font-family: 'Nanum Gothic', sans-serif; outline: none; color: #212121; }

html {font-size: 13px;}
body {margin: 0;}
a {text-decoration: none;}
ul, ol {list-style: none; margin: 0; padding: 0;}
dl, dt, dd {margin: 0; padding: 0;}
button{border:none; background-color:white;}

/**화면에서 안보이게*/
.displayNone{display:none;}

/**검색*/
.searchSelect{    display: flex;
    width: 150px;
    justify-content: space-around;
    align-content: center;
    align-items: center;}
.bookSearch{    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;}
.search{display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    }
.searchBtn{width: 50px;}

/**북 목록*/
.books{display: flex;
    align-items: flex-start;
    padding: 50px 100px 50px 100px;
    flex-direction: row;
    justify-content: space-around;}
    
/**북*/
.book{width:300px;}
.bookImg{width: 250px;
    height: 350;
    padding-top: 30px;
    display: flex;
    margin: 0 auto;}
.bookExp{display: flex;
    justify-content: center;
    margin-top: 8px;}
    
/**페이지 번호*/
.booksPageNum{display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;}
.bookPageNum{margin: 10px;}
