.width{width:150px;}
.flex{display: flex;
    align-items: center;
    justify-content: center;
}

/**화면에서 안보이게*/
.displayNone{display:none;}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_image{
display: flex;
    margin: 150px 0px 150px 0px;
}

.item_info {
	margin-left: 100px;
}
.book_name{
	border-bottom: 1px solid black;
}
.bookimage{width: 250px;
    height: 350px;}
.bookCount{padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;}
.book_price{padding-bottom:10px; display: flex;
    justify-content: space-between;}
.book_publisher{padding-bottom:10px; display: flex;
    justify-content: space-between;}
.paymentBtn{border: 1px solid;
    display: flex;
    padding: 15px;
    border-radius: 50px;
    margin-top: 50px;
    align-items: center;
    margin-left: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    cursor: pointer;}