<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookPaymentMapper">
	<resultMap id="BookPayment" type="models.bookshop.BookPaymentDto">
		<result property="num" column="num" />
		<result property="userId" column="userId" />
		<result property="productNum" column="productNum" />
		<result property="count" column="count" />
		<result property="regDt" column="regDt" />
		<result property="destination" column="destination" />
		<result property="progress" column="progress"  />
	</resultMap>
	
	<insert id="insertInfo" parameterType="models.bookshop.BookPaymentDto" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO payment (userId, productNum, count, destination, progress)
			VALUES (#{userId}, #{productNum}, #{count}, #{destination}, #{progress});
	</insert>
	
	<!-- 
	판매자별 주문내역 확인  
	@author 5563a
	-->
	<select id="gets" parameterType="models.bookshop.BookPaymentDto" resultMap="BookPayment">
		SELECT * FROM WorkOut.payment pay left join RequestProduct product on pay.productNum=product.abnum 
		<where>
			 seller=#{seller} 
			<if test="progress != null">
				AND progress=#{progress}
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="models.bookshop.BookPaymentDto"  >
		UPDATE payment set progress=#{progress} WHERE num=${num};
	</update>
	
</mapper>