@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* { box-sizing: border-box; font-family: 'Nanum Gothic', sans-serif; outline: none; color: #212121; }

html {font-size: 13px;}
body {margin: 0;}
a {text-decoration: none;}
ul, ol {list-style: none; margin: 0; padding: 0;}
dl, dt, dd {margin: 0; padding: 0;}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"] { border: 1px solid #d5d5d5; height: 35px; padding: 0 10px; border-radius: 20px;}
main{ min-height: 600px; padding-top:0px;}
.dn{ display: none !important; }
button{border:none; background-color: rgba(255,255,255,0);}

/** 여백*/
.mr{ margin-right: 50px;}
.ml{ margin-left: 50px;}
.mt10{ margin-top: 10px; }
.mt20{ margin-top: 20px; }
.mt100{ margin-top: 100px; }
.mb10{ margin-bottom: 10px; }
.mb20{ margin-bottom: 20px; }
/** 여백*/

/** 테스트 */
.join-menu { background-color: rgba(255,255,255,0.5); display:flex; justify-content: space-between; position: fixed; height: 50px; width: 100%; align-items: center;}
/**.layout_width { max-width: 1100px; width: 100%; margin: 0 auto; }*/
/** 테스트 */

/** 회원가입, 로그인 */
header .join-menu > div { text-align: right; padding: 10px; }
header .join-menu > div a { margin-left: 10px; }
/** 회원가입, 로그인 */

/** 로고
.logo{ text-align: center; padding-top: 50px; padding-bottom: 50px; font-size: 50px; border-top: solid 1px black; border-bottom: solid 1px black;}
로고 */


/** 푸터 */
footer .footer{ text-align: center; border-top: solid 1px black; font-size: 25px; padding-top:50px; padding-bottom: 50px; font-size: 15px; }
/** 푸터 */

nav { background-color:rgba(255,255,255);  width: 280px; height: 100%; top:0; left:-280px; transtion:0.5s;}
nav > div { display: flex; width: 100%; justify-content: space-around; flex-direction: column;}
nav a {  text-align: center; font-size: 1.5rem; padding: 15px 20px;  }
.layout_width a:hover {
	border:solid 1px black;
	border-radius:20px;
	padding:8px;
}
.layer{position:fixed; top:50px; left:-200px; width:100%; height:100%; background-color:rgba(0,0,0,0.5); display:none;  transition: all 1s;}
.layer.on { display: block; transition: all 1s; left:0;}

/** 버튼 */
.btn-grp { display: flex; width: 330px; margin: 10px auto; }
.btn-grp button { flex-grow: 1; height: 45px; background-color: #212121; color: #fff; font-size: 1.2rem; font-weight: bold; border: 1px solid #212121; cursor: pointer; }
.btn-grp button:last-of-type { background-color: #fff; color: #212121; margin-left: 2px; }
.btn-grp button:first-of-type { margin-right: 2px; }