@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* { box-sizing: border-box; font-family: 'Nanum Gothic', sans-serif; outline: none; color: #212121; }

html {font-size: 13px;}
body {margin: 0;}
a {text-decoration: none;}
ul, ol {list-style: none; margin: 0; padding: 0;}
dl, dt, dd {margin: 0; padding: 0;}
button{border:none; background-color:white;}

/**메인콘텐츠*/
.main{padding-top:0px;}
.bg_image{background-image: url('../image/bookMain.png'); background-position: center; background-size: cover;}
.main_text{height:600px; padding: 90px; padding-top: 120px;}

.book_text{text-align: center; padding-top: 100px; height: 900px; background-color: white;}
.books{padding-top:50px;}

.middle_texts{height:700px; margin-top: 50px; padding: 90px;}
.middle_img{height:600px; padding-right:50px; padding-top: 80px; background-color:lightyellow; overflow: hidden; border-radius: 20px;}
.middle_text{padding-left: 90px; z-index: 1;}

.phones{display:flex; display: flex; align-items: center; justify-content: flex-end; padding-bottom:100px;}
.phone{height: 450px;}

img:first-child{z-index: 2; margin-top: 100px; margin-bottom: 400px;}
img:nth-child(2){z-index: 3; margin-bottom: 500px;}
img:last-child{z-index: 4; margin-bottom: 400px;}

.QnA{height: 400px; margin-top: 100px; margin-bottom:100px; background-color: #ffe773; padding-top: 50px;}
.Q{text-align: center;}
.QnA_texts{margin-top: 30px; align-items:center; display:flex; flex-direction:column;}
.QnA_text{background-color: white; width:700px; height: 40px; padding:10px; display: flex; justify-content: space-between; padding: 10 20 10 20px; border-radius: 100px;}

.last{height: 150px; text-align: center;}
/**메인콘텐츠*/