<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RequestProductMap">
	<resultMap type="models.seller.ProductDto" id="productmap">
		<result column="abnum" property="abnum"/>
		<result column="seller" property="seller" />
		<result column="serialnum" property="serialnum"/>
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<result column="kategorie" property="kategorie"/>
		<result column="company" property="company"/>
		<result column="img" property="img"/>
	</resultMap>
<!-- 판매물품 승인요청 seller(UserId)-->
<insert id="register"  parameterType="models.seller.ProductDto" useGeneratedKeys="true"
        keyProperty="abnum" keyColumn="abnum">
	INSERT RequestProduct ( serialnum,seller, name, price, kategorie, company, img) 
		VALUES (#{serialnum},#{seller},#{name},#{price},#{kategorie},#{company},#{img})
</insert>


<!--
	seller : 신청자(Userid) , status : 상태값(요청중(req),승인(ture),거부(false)) 조건으로 가져옴   
	@author 5563a
 -->
<select id="getlist" parameterType="models.seller.ProductDto" resultMap="productmap">
	SELECT * FROM RequestProduct WHERE seller=#{seller} AND status=#{status};
</select>

<update id="uploadimg">
	UPDATE RequestProduct 
</update>

</mapper>