<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookShopMapper">
	<resultMap id="BookShopMap" type="models.bookshop.BookShopDto">
		<result property="abnum" column="abnum" />
		<result property="seller" column="seller" />
		<result property="serialnum" column="serialnum" />
		<result property="name" column="name" />
		<result property="writer" column="writer" />
		<result property="price" column="price" />
		<result property="kategorie" column="kategorie" />
		<result property="publisher" column="publisher" />
		<result property="img" column="img" />
		<result property="status" column="status" />
		<result property="regDt" column="regDt" />
		<result property="modDt" column="modDt" />
	</resultMap>
	<!-- 리스트 -->
	<select id="listAll" resultMap="BookShopMap" >
	SELECT * FROM RequestProduct;
	</select>
	
	<!-- 상품가져오기 -->
	<select id="get" resultType="models.bookshop.BookShopDto" parameterType="int">
	SELECT * FROM RequestProduct WHERE abnum=#{abnum};
	</select>
	
	<!-- 상품 검색하기 -->
	<select id="search" resultMap="BookShopMap" parameterType="models.bookshop.BookShopDto">
	SELECT * FROM RequestProduct
	<where>
		<if test="name != null ">name LIKE CONCAT('%', #{name}, '%') limit ${start}, ${count};</if>
		<if test="kategorie != null ">kategorie LIKE CONCAT('%', #{kategorie}, '%') limit ${start}, ${count};</if>
		<if test="publisher != null ">publisher LIKE CONCAT('%', #{publisher}, '%') limit ${start}, ${count};</if>
	</where>
	</select>
	
	<!-- 총 상품 갯수 -->
	<select id="items" resultType="int">
	SELECT COUNT(*) FROM RequestProduct;
	</select>
	
	<!-- 검색한 총 상품 갯수 -->
	<select id="searchItems" resultType="int">
	SELECT COUNT(*) FROM RequestProduct 
	<if test="name != null">WHERE name LIKE CONCAT('%', #{name}, '%') limit ${start}, ${count}</if>
	<if test="kategorie != null">WHERE kategorie LIKE CONCAT('%', #{kategorie}, '%') limit ${start}, ${count}</if>
	<if test="publisher != null">WHERE publisher LIKE CONCAT('%', #{publisher}, '%') limit ${start}, ${count}</if>
	</select>
	
	<!-- 페이지 별 상품 갯수 -->
	<select id="pageItems" resultMap="BookShopMap" parameterType="models.bookshop.ProductLimitDto">
	SELECT * FROM RequestProduct limit ${start}, ${count};
	</select>
	
</mapper>





