<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
	  <property name="hostname" value="localhost" />
      <property name="driver" value="com.mysql.cj.jdbc.Driver" />
      <property name="url" value="jdbc:mysql://dsm.bmserver.org/WorkOut?characterEncoding=UTF8&amp;serverTimezone=UTC" />
      <property name="username" value="Dev" />
      <property name="password" value="aA!123456" />
  </properties>
  <settings>
  	<setting  name="logImpl" value="LOG4J"/>
  </settings>
  <typeHandlers>
  	<typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler"/>
  </typeHandlers>
  <environments default="development">
  <environment id="production">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
	<mapper resource="mapper/userInfoMapper.xml" />
	<mapper resource="models/seller/requestProductMapper.xml" />
	<mapper resource="models/message/MessageMapper.xml" />
  </mappers>
</configuration>