<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MessageMapper">
    <resultMap type="models.admin.MessageDto" id="messageMap">
		<result column="num" property="num" />
		<result column="recipient" property="recipient" />
		<result column="message" property="message" />
		<result column="see" property="see" />
	</resultMap>
	<!-- 
		유저한테 메세지 보내기
	 -->
	<insert id="sendMsg" parameterType="models.admin.MessageDto" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO Message (recipient,message) 
			VALUES(#{recipient},#{message})
	</insert>
	
	<!-- 
		유저가 받은 메세지 
	 -->
	<select id="getsUserMsg" parameterType="models.admin.MessageDto" resultMap="messageMap">
		SELECT * FROM Message
		<where>
		<if test="recipient !=null">AND recipient=#{recipient}</if>
			<if test="see !=null">AND see=#{see}</if>
		</where>
	</select>

	<!-- 
		유저가 받은 메세지 개수 
	 -->
	<select id="getsUserMsgC" parameterType="models.admin.MessageDto" resultType="int">
		SELECT COUNT(*) FROM Message
		<where>
		<if test="recipient !=null"> recipient=#{recipient}</if>
			<if test="see !=null">AND see=#{see}</if>
		</where>
	</select>
	
	<update id="update" parameterType="models.admin.MessageDto" >
		UPDATE Message SET see=#{see} WHERE num=#{num};
		
	</update>
	<delete id="delete" parameterType="models.admin.MessageDto">
		DELETE FROM Message WHERE num=#{num};
	</delete>

</mapper>