<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userInfoMapper">
	<resultMap id="userInfoMap" type="dto.UserDto">
		<result property="num" column="num" />
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="fakeName" column="fakeName" />
		<result property="email" column="email" />
		<result property="mobile" column="mobile" />
		<result property="address" column="address" />
		<result property="birthDay" column="birthDay"/>
		<result property="sex" column="sex"/>
		<result property="userType" column="userType"/>
	</resultMap>

	<!-- 유저 아이디로 검색 -->
	<select id="user" parameterType="dto.UserDto" resultMap="userInfoMap">
		SELECT * FROM WorkOutUser WHERE id=#{id}
	</select>
	
	<!-- 유저 num으로 검색 -->
	<select id="userNum" parameterType="dto.UserDto" resultMap="userInfoMap">
		SELECT * FROM WorkOutUser WHERE num=#{num}
	</select>
	
	<!-- 유저 별명으로 검색 -->
	<select id="fakeName" parameterType="dto.UserDto" resultMap="userInfoMap">
		SELECT * FROM WorkOutUser WHERE fakeName=#{fakeName}
	</select>
	
	<!-- 유저 리스트 검색 -->
	<select id="list" parameterType="dto.UserDto" resultMap="userInfoMap">
		SELECT * FROM WorkOutUser
	</select>
	
	<!-- 어드민 유저 리스트 검색 -->
	<select id="adminUser" parameterType="dto.UserDto" resultMap="userInfoMap">
		SELECT * FROM WorkOutUser
		<where>
			<if test="name != null">AND name LIKE #{name}</if>
			<if test="fakeName != null">AND fakeName LIKE #{fakeName}</if>
			<if test="sex != null">AND sex LIKE #{sex}</if>
			<if test="id != null">AND id LIKE #{id}</if>
			<if test="userType != null">AND userType LIKE #{userType}</if>
		</where>
		ORDER BY num DESC;
	</select>
	
	<!-- 유저 정보 추가 -->
	<insert id="insert" parameterType="dto.UserDto" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO WorkOutUser (id, password, name, fakeName, email, mobile, address, birthDay, sex)
			VALUES(#{id}, #{password}, #{name}, #{fakeName}, #{email}, #{mobile}, #{address}, #{birthDay}, #{sex});
	</insert>	
	<!-- 유저 id 검색 후 삭제 -->
	<delete id="delete" parameterType="dto.UserDto" >
		DELETE FROM WorkOutUser WHERE id=#{id}
	</delete>
	<!-- 유저 num 검색 후 삭제 -->
	<delete id="userDelete" parameterType="dto.UserDto" >
		DELETE FROM WorkOutUser WHERE num=#{num}
	</delete>
	<!-- 유저 정보 변경사항 업데이트 -->
	<update id="update" parameterType="dto.UserDto">
		UPDATE WorkOutUser
			SET
				password=#{password},
				name=#{name},
				fakeName=#{fakeName},
				email=#{email},
				mobile=#{mobile},
				address=#{address},
				birthDay=#{birthDay},
				sex=#{sex}
			WHERE id=#{id}
	</update>
	<!-- 유저 타입정보 변경사항 업데이트 -->
	<update id="typeUpdate" parameterType="dto.UserDto">
		UPDATE WorkOutUser
			SET
				userType=#{userType}
			WHERE num=#{num}
	</update>
	<!-- 추가 기능  -->
	
	<!-- 유저(판매자) 정보 추가 -->
	<insert id="insertSeller" parameterType="dto.UserDto" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO WorkOutUser (id, password, name, email, mobile, address, userType)
			VALUES(#{id}, #{password}, #{name}, #{email}, #{mobile}, #{address},'seller');
	</insert>	
	
</mapper>